<h1><%= @dog.name %></h1>

<table>
	<thead>
		<tr>
			<td>Time</td>
			<td>Walker</td>
			<td>#1?</td>
			<td>#2?</td>
		</tr>
	</thead>

	<% @dog.walks.each do |walk| %>
		<tr>
			<td><%= walk.created_at %></td>
			<td><%= walk.walker.email %></td>
			<td><%= walk.flag_1 %></td>
			<td><%= walk.flag_2 %></td>
			<td><%= link_to "Details", walk_path(walk.id) %></td>
			<td><%= button_to "Delete", walk, :method => :delete %>
		</tr>
	<% end %>
</table>

<br/>
<%= link_to "Add New Walk", new_walk_path %>